<% provide(:title,'Crear página nueva') %>

<h1>Crear página nueva</h1>
<%= form_for @pagina, html: {class: "nifty_form"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= fields_for @content_field do |c_f| %>
    <%= c_f.label :title %>
    <%= c_f.text_area :title %>
    <%= c_f.label :contenido %>
    <%= c_f.text_area :contenido, size: "60x12", class: "ckeditor" %>
  <% end %>

  <%= f.submit "Create" %>
<% end %>
<script type="text/javascript">
  // Replace the <textarea id="editor1"> with a CKEditor
  // instance, using default configuration.
  CKEDITOR.replace( 'content_field_contenido' );
</script>
